
<section class="large-9 cell">
	<h3><%= page_title_passed_in %></h3>
	<section class="grid-x">
		<section class="cell medium-auto">
		  <ul>
				<li>
					<h5><%= yield  %></h5>
					</li>
				</ul>
		</section>
	</section>
</section>
