<section>
	<h3>List of Merchants</h3>
	<article class="grid-x">
		<% @merchants.each do |merchant| %>
		<section class="cell medium-auto">
			<h4><%= link_to merchant.username, merchant_path(merchant.id) %></h4>
		</section>
		<% end %>
	</article>
</section>
