<section>
	<h3>List of Merchants</h3>
	<article class="grid-x">
		<section class="cell medium-auto">
					<% @merchants.each do |merchant| %>
			<h4><%= link_to "#{merchant.username.upcase} - View Products", merchant_products_path(merchant[:id]) %></h4>
					<% end %>
		</section>
	</article>
</section>
