<section>
	<h3><%= @merchant.username %></h3>
	<article class="grid-x">
		<% @merchant.products.each do |product| %>
		<section class="cell medium-auto">
			<h4><%= link_to product.name, product_path(product.id) %></h4>
		</section>
		<% end %>
	</article>
</section>
<p>
	<%= link_to "Add Category", new_category_path%>
</p>
<br>
<%= render partial: "shared/table" , locals: { table_order_items: @merchant.get_merchant_order_items } %>
