/*
* This is a manifest file that'll be compiled into application.css, which will include all the files
* listed below.
*
* Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
* vendor/assets/stylesheets directory can be referenced here using a relative path.
*
* You're free to add application-wide styles to this file and they'll appear at the bottom of the
* compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
* files in this directory. Styles in this file should be added after the last require_* statement.
* It is generally better to create a new file per style scope.
*= require normalize-rails

*
*= require_tree .
*= require_self
*= require foundation_and_overrides

*/

html * {
  font-family: 'Scope One', serif;
  text-transform: uppercase;
}
body {
  background-size: 100% auto;
}

.dropdown{
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.main-nav {
  padding: 40px;
  width: 100%;
  background-color: rgb(23, 1, 110)
}

.mars {
  margin-right: auto;
  font-size: 5em;
}

.mars a {
  color: rgb(210, 101, 0)
}

ul {
  list-style-type: none;
}

.astronaut {
  margin-right: 75px;
  margin-bottom: 10px;
}

.cart {
  margin-right: 50px;
  margin-bottom: 10px;
}

.nav-items {
  font-size: 1.5em;
  display: inline-flex;
}
.nav-items li {
  padding: 10px;
  display: inline;
}
