// Place all the styles related to the Products controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.retired {
  color: rgb(235, 124, 8);
  font-size: 1.5em;
}

.checkout-options a{
  margin-right: 20px;
}
