<%= render partial: "product_form", locals: {page_title: "Edit product #{@product.name}"} %>
<% if !@merchant.nil? && @merchant.id == @product.merchant.id %>
<p>
  <%= link_to "Deactivate this product", deactivate_product_path(@product.id), class: 'button', method: :patch %>
</p>
<% end %>
