<h2 class="prod-title"><strong>All Products</strong></h2>

<ul>
  <% @products.each do |p| %>
  <li>
    <%= link_to product_path(p.id) do %>
    <div>
      <%= image_tag(p.photo, :alt => "product image") %>
      <%= p.name %>
      <small>$<%= p.price %></small>
    </div>
    <%end%>
  </li>
  <%end%>
</ul>
